<div class="p-6">
  <label class="block text-left font-bold mb-2">{{ label }}</label>
  <select
    [disabled]="loading"
    [value]="value"
    (change)="onSelectionChange($event)"
    class="w-full border-2 border-lavender rounded-xl px-4 py-3 focus:outline-none focus:ring-2 focus:ring-lavender disabled:opacity-50 disabled:cursor-not-allowed">
    @if (loading) {
      <option>Cargando...</option>
    } @else {
      <option value="" selected disabled>{{ placeholder }}</option>
      @for (option of options; track option.value) {
        <option [value]="option.value">{{ option.text }}</option>
      }
    }
  </select>
</div>
