<nav class=" px-8 py-4 bg-gray-800 backdrop-blur-md shadow-md">
  <div class="flex items-center justify-between max-w-4xl mx-auto px-6">
    <div class="text-xl font-extrabold text-white">🐾 Gatopedia</div>
    
    <div class="flex items-center gap-6">
      <ul class="flex gap-6 font-semibold text-white">
        <li><a routerLink="home" class="hover:underline cursor-pointer">Inicio</a></li>
        <li><a routerLink="breeds" class="hover:underline cursor-pointer">Razas</a></li>
      </ul>

      <button 
        type="button" 
        class="border-none cursor-pointer text-white p-2 outline-0 transition-all duration-300 ease-in-out rounded-lg hover:scale-130" 
        (click)="openSearchModal()"
        aria-label="Buscar">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
        </svg>
      </button>
    </div>
  </div>
</nav>

<app-search-modal 
  [isOpen]="isSearchModalOpen()" 
  (close)="closeSearchModal()"
>
</app-search-modal>